.main{
    background-color: #f4f6f8;
}
/* start client location */
.parallelogram {
	transform: skew(-20deg);
	background: rgb(236, 236, 236);
    margin-right: 10px;
    padding: 5px;
    font-size: 11px;
}
.client-loc{
    padding-right: 10%;
}
/* end client location */

/*  start search box */
.form-control{
    border-bottom: 10px solid #000;
    margin: 10px;
}
/*  end search box */

/* start article */
.cardd button{
    background-color: #7ebf39;
}
@media screen and (max-width:550px) {
    .boy-pic{
        flex-wrap: wrap;
    }
}
/* end article */