/* start slider */
.carousel-indicators button {
   border-radius: 100%;
  }
  .title-slider{
      position: relative;
      bottom: 70px;
      font-size: 32pt;
      border-bottom: 2px solid white;
      border
  }
/* end slider */
/* start card */
.card-text{
    color: gray;
}
/* end card */